.visit {
    background-image: url("../images/visit__background.png");
    margin: 0 48px;
    min-height: 740px;
    background-repeat: no-repeat;
    position: relative;
}

.visit:hover {
    background-color: #2A2C2F;
    opacity: .4;
}

.visit__text {
    margin: 243px 264px;
    text-align: center;
    z-index: 2;
    border-color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.visit__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
}

.visit__location {
    line-height: 22px;
    max-width: 280px;
    margin: 0; 
}

.visit__tickets {
    font-weight: 600;
    font-size: 16px;
    line-height: 21.78px;
    color: #fff;
    background-color: #0278FE;
    border-radius: 4px;
    border-style: none;
    padding: 13px 20px;
    cursor: pointer;
    max-width: 137px;
}